input, textarea { 
			font-family: arial;
			color:black;
			font-size: 10px;
			
				}
			
#chatwindow 	{ 
		width:250px;
		height:auto;
		overflow:auto;
		border:#000 thin;
				}
				
#chatnick 		{ 
		border:none;
		background:none;
				}
				
				
#chatmsg		{
	background:none;
	border:none
				}

.chat {
	color: black;
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 120%;
	text-align: left;
	visibility: inherit;
}

.flexcroll{
	visibility: inherit;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

