.error {
	font-weight:normal;
	color:red;
        }

#name            {
	font-weight:bolder;
	background:none;
	border:none;
	font-size:12px;
	position:absolute;
	top:20px;
	left:80px;
	width: 127px;
	height: 18px;
}
#name_error      {
	position:absolute;
	top:24px;
	left:214px;
}


#email           {
	font-weight:bolder;
	background:none;
	border:none;
	font-size:12px;
	position:absolute;
	top:51px;
	left:80px;
	width: 208px;
	height: 18px;
}
#email_error     {
	position:absolute;
	top:49px;
	left:299px;
}



#msg    {
	font-weight:bolder;
	background:none;
	border:none;
	font-size:12px;
	position:absolute;
	top:128px;
	left:78px;
	width: 272px;
	height: 213px;
	overflow:auto;
}

#msg_error      {
	position:absolute;
	top:101px;
	left:190px;
}

#submit_btn				{
	height:36px;
	width:79px;
	position:absolute;
	top:310px;
	left:-7px;
	border:none;
	background:url(../buttons/Send-off.jpg);
	cursor:pointer;
}

#submit_btn:hover		{ background:url(../buttons/Send-hover.jpg) }
#submit_btn:active		{ background:url(../buttons/Send-on.jpg)}
