 .scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 27;
	left: 0;
}

.vscrollerbase {
	width:17px;
	vertical-align: bottom;
}
.vscrollerbar {
	background-image:url(../buttons/scroolbar%20off.png);
	width: 18px;
	cursor:pointer;
	height: 37px !important;


}


* html .vscrollerbar {
/* IE6 alpha png trick */
/* IE7 is not affected by this trick, as it perfectly handles the normal png */
/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='../buttons/scroolbar%20off.png');*/
/*background-image: none;*/
}



/* do not forget to give horizontal scrollbars some color properties even if you don't plan on using them */
.hscrollerbase {
	height: 0px;
	vertical-align: bottom;
}
.hscrollerbar {height: 0px; background-color: #84ADD6;}

.vscrollerbar, .hscrollerbar {
	/* paddings of these elements will decide how far the scrollbar will stop in both ends, and are not actually
used for styling, and are set to 0 by the script, here we will set them the size of our faux arrows */
padding: 29px;
	/*z-index: 0px;*/
}

/* properties for scroller jog box, just in case */
.scrollerjogbox {
	width: 0px;
	height: 0px;
	left: auto;
	bottom: 0px;
	right: 0px;
	background: #698AAA;
}
