body {
	background-color: #ff9900;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
	text-align:right;

}

.browsers{
	cursor:pointer;
}

#FF{
	background:url(../buttons/FFoff.jpg)
}

#FF:hover{
	background:url(../buttons/FFhover.jpg)
}

#OP{
	background:url(../buttons/OPoff.jpg)
}

#OP:hover{
	background:url(../buttons/OPhover.jpg)
}

#CH{
	background:url(../buttons/CHoff.jpg)
}

#CH:hover{
	background:url(../buttons/CHhover.jpg)
}
