.list {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #000;
	list-style-type: none;
	cursor: default;
	font-style: normal;
	font-weight: bolder;
	border-left-width: thin;
	text-align: left;
	padding: 0px;
	text-decoration: none;
	letter-spacing: normal;
	vertical-align: top;
	word-spacing: normal;
	display: block;
}



.list:hover {
	color: #000;
	background-color: #999;
	text-align: center;
	display: block;
	font-size: 9px;
	cursor:pointer;
}
/*.list:active
	{
	font-size: 9px;
	color: #000;
	list-style-type: none;
	cursor: default;
	font-style: normal;
	font-weight: bolder;
	border-left-width: thin;
	text-align: center;
	padding: 0px;
	display: run-in;
	text-decoration: none;
	
}*/
.pic:hover {
	cursor:pointer;
}

.vscrollerbar:hover{
	background-image:url(../buttons/scroolbar%20on.png);
					}