@charset "utf-8";
.list2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	list-style-type: none;
	cursor: default;
	font-style: normal;
	font-weight: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: thin;
	text-align: center;
	padding: 0px;
	color: #000;
	font-variant: normal;
	text-transform: none;
}



.Scroller-Container {
  position: absolute;
  height:auto;
}
.Scrollbar-Up {
	cursor: pointer;
	position: absolute;
	left: -2px;
	top: 1px;
}
.Scrollbar-Track {
	width: 20px;
	height: 111px;
	position: absolute;
	top: 25px;
	left: 3px;
}
.Scrollbar-Handle {
	position: absolute;
	width: 28px;
	height: 30px;
	left: -2px;
}
.Scrollbar-Down {
	cursor: pointer;
	position: absolute;
	top: 124px;
	left: -1px;
}
#Scrollbar-Container {
  position: absolute;
  left: 223px;
  top: 587px;
}

#Container {
	position:absolute;
	left:268px;
	top:362px;
	width: 390px;
	height: 392px;
}
#NEWsongs, #BOBsongs, #OLDsongs, #FMmix {
	position: absolute;
	overflow: hidden;
	width: 390px;
	height: 394px;
	display: none;
	left: -6px;
}



#Date {
	font-size: 14px;
	text-align: center;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	}

.FMDate {
	font-size: 14px;
	text-align: center;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	cursor:default;
	}