	  
#Enter{
		background-image:url(../buttons/Enter%20off.jpg);
		cursor:pointer;
		}
		
#Enter:hover
		{
		background-image:url(../buttons/Enter%20hover.jpg);
		
		}

#Enter:active
		{
			background-image:url(../buttons/Enter%20on.jpg);
		}

#Next{
		background-image:url(../buttons/Next%20off.jpg);
		cursor:pointer;
		}


#Next:hover
		{
			background-image:url(../buttons/Next%20hover.jpg);
		}
		
#Next:active
		{
			background-image:url(../buttons/Next%20on.jpg);
		}
		
#Down
		{
	background-image:url(../buttons/Download%20off.jpg);
	cursor:pointer;
	left: 546px;
	top: 337px;
		}
		
#Down:hover
		{
			background-image:url(../buttons/Download%20hover.jpg);
		}

#Down:active
		{
			background-image:url(../buttons/Download%20on.jpg);
		}

.Records
	{
		cursor:pointer;
	}
	

.none{
	background:none;
	cursor:default;
	}
	
.Red
	{
	cursor:pointer;
	background:url(../buttons/DownloadAllRed%20off.jpg);
	}
	
.Yellow
	{
	cursor:pointer;
	background:url(../buttons/DownloadAllYellow%20off.jpg);
	}
	
.Purple
	{
	cursor:pointer;
	background:url(../buttons/DownloadAllPurple%20off.jpg);
	}
	
.Till
	{
	cursor:pointer;
	background:url(../buttons/DownloadAllTill%20off.jpg);
	}
	
.White
	{
	cursor:pointer;
	background:url(../buttons/DownloadAllWhite%20off.jpg);
	}

#Forum
		{
	background-image:url(../Welcome/Forum%20off.jpg);
	cursor:pointer;
	
		}
		
#Forum:hover
		{
			background-image:url(../Welcome/Forum%20hover.jpg);
		}

#Forum:active
		{
			background-image:url(../Welcome/Forum%20on.jpg);
		}

#Web
		{
	background-image:url(../Welcome/Web%20off.jpg);
	cursor:pointer;
	
	
		}
		
#Web:hover
		{
			background-image:url(../Welcome/Web%20hover.jpg);
		}

#Web:active
		{
			background-image:url(../Welcome/Web%20on.jpg);
		}
